In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer

In [41]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [16]:
df = pd.read_csv('mail_data.csv')
df

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [15]:
df.isnull().sum()

Category    0
Message     0
dtype: int64

In [24]:
#you can the value by using this technique
# c = [x for x in df['Category'] if x == 'spam' 0]

In [19]:
df.loc[df['Category'] == 'spam', 'Category'] = 0
df.loc[df['Category'] == 'ham', "Category"] = 1

In [29]:
df['Category'].value_counts()

1    4825
0     747
Name: Category, dtype: int64

In [30]:
X = df['Message']
y = df['Category']

In [31]:
X

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                 Will ü b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: Message, Length: 5572, dtype: object

In [32]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=2)

In [57]:
feature_extraction = TfidfVectorizer(
    min_df=1,
    stop_words= 'english',
    lowercase=True

)

X_train_feature_extraction = feature_extraction.fit_transform(X_train)
X_test_feature_extraction = feature_extraction.fit_transform(X_test)

y_train = y_train.astype('int')
y_test = y_test.astype('int')

In [38]:
print(X_test)

5086    Omg if its not one thing its another. My cat h...
2120                I hope you know I'm still mad at you.
2318    Waqt se pehle or naseeb se zyada kisi ko kuch ...
2917      What time should I tell my friend to be around?
1352                       Yo theres no class tmrw right?
                              ...
884                           Dude we should go sup again
3821    I got arrested for possession at, I shit you n...
1066                            No my mum went 2 dentist.
208                          Aight yo, dats straight dogg
1378    Double Mins & Double Txt & 1/2 price Linerenta...
Name: Message, Length: 1115, dtype: object

In [56]:
print(X_train_feature_extraction)

  (0, 3958)	0.6161071828926097
  (0, 4334)	0.42941702167641554
  (0, 6586)	0.44333254982109394
  (0, 6927)	0.48935591439341625
  (1, 1428)	0.5869421390016223
  (1, 2121)	0.3573617143022146
  (1, 3168)	0.5869421390016223
  (1, 6971)	0.42812434651556874
  (2, 806)	0.26730249393705324
  (2, 1876)	0.28751725124107325
  (2, 3852)	0.3408491178137899
  (2, 4884)	0.35749230587184955
  (2, 5115)	0.3408491178137899
  (2, 5695)	0.35749230587184955
  (2, 5894)	0.35749230587184955
  (2, 6878)	0.35749230587184955
  (2, 7353)	0.31988118061968496
  (3, 197)	0.36522237107066735
  (3, 300)	0.2915969875465198
  (3, 1825)	0.26858331513730566
  (3, 1876)	0.3080768784015236
  (3, 2060)	0.24915048132454623
  (3, 2435)	0.26698378141852
  (3, 3723)	0.16297045459835785
  (3, 5005)	0.3169028431039865
  :	:
  (4454, 1094)	0.24862733340971144
  (4454, 1575)	0.20946314330145205
  (4454, 2244)	0.2526916142542512
  (4454, 2879)	0.28899333825056067
  (4454, 4627)	0.3831814754124698
  (4454, 5068)	0.22284357632450164
  (4454, 5077)	0.3005277868014621
  (4454, 5811)	0.14953570764179772
  (4454, 7084)	0.2689097965804433
  (4454, 7248)	0.18493430649182369
  (4454, 7297)	0.1741110805400093
  (4455, 3084)	0.3019392955127119
  (4455, 3701)	0.546620099025937
  (4455, 4614)	0.4677148905542796
  (4455, 7075)	0.6255253074975946
  (4456, 380)	0.24893867331233713
  (4456, 909)	0.26924653489772427
  (4456, 2509)	0.20620887737471993
  (4456, 3768)	0.30090411827956587
  (4456, 5009)	0.6018082365591317
  (4456, 5820)	0.18767970267638426
  (4456, 6575)	0.15362974460832007
  (4456, 7032)	0.2868954144677231
  (4456, 7033)	0.43304344994724825
  (4456, 7376)	0.20404881687716278

In [43]:
model1 = LogisticRegression()
model2 = DecisionTreeClassifier()

In [45]:
model1.fit(X_train_feature_extraction, y_train)

LogisticRegression()

In [46]:
model2.fit(X_train_feature_extraction, y_train)

DecisionTreeClassifier()

In [62]:
xdt = model2.predict(X_train_feature_extraction)
accuracy_score(y_train, xdt)

1.0

In [63]:
xdt = model1.predict(X_train_feature_extraction)
accuracy_score(y_train, xdt)

# we can also use as many algoritham we want for test just for cheak which one give batter accuracy

0.9683643706529056